<div class="container" >
  <div class="row" >
    
      <div class="col-md-8 card" id="{{'card-'+bidProf.bidId}}" style="margin-bottom: 2%;" data-state="#about" *ngFor="let bidProf of bidProfdata | paginate: { itemsPerPage: 1, currentPage: p } ; index as i " >

          <div class="card-header">
        
            <div class="card-cover" style="background-color:#98C1D9 ;"></div>
        
            <img  class="card-avatar" [src]="createImgPath(bidProf.profPic)" alt="{{bidProf.profName}}" />
        
            <h1 style="color:#158CBA !important;font-weight: bold;" class="card-fullname">{{bidProf.profName}}</h1>
        
            <h2 style="color:#158CBA !important;font-weight: bold;" class="card-jobtitle">Professional</h2>
        
          </div>
        
          <div class="card-main">
        
            <div class="card-section {{'card-sec'+bidProf.bidId}} is-active" id="{{'about'+bidProf.bidId}}">
        
              <div class="card-content">
        
                <div class="card-subtitle">Description</div>
        
                <p class="card-desc">{{bidProf.profDesc}}          
                </p>
               
                <div hidden class="bidscore">
                  <p>   Auto Bid Score  |    Manual Bid Score</p>
                  <div class="box round">5/8</div>
                  <div class="box round">5/8</div>
                </div>

        
              </div>
        
              <div class="card-social">
        
                <a (click)="showTimelineTab(bidProf.bidId,bidProf)"><i class="fa fa-th-list lg" aria-hidden="true"></i></a>
                <a (click)="acceptBid(bidProf)"><i class="fa fa-check-circle lg" aria-hidden="true"></i></a>
                <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>        
                <a href="#">{{bidProf.bidScore}}/16</a>       
          
        
              </div>
        
            </div>
        
            <div class="card-section {{'card-sec'+bidProf.bidId}}" id="{{'experience'+bidProf.bidId}}">
        
              <div class="card-content">
        
                <div class="card-subtitle">Bid Timeline </div>
        
                <div class="card-timeline">
        
                  <div class="card-item" *ngFor="let timeline of bidProf.timeline" attr.data-year="{{timeline.date | date :'shortDate'}}">
        
                    <div class="card-item-title">{{timeline.title}}</div>
        
                    <div class="card-item-desc">{{timeline.description}}</div>
        
                  </div>

        
                </div>
        
              </div>
        
            </div>
        
            <div class="card-section {{'card-sec'+bidProf.bidId}}" id="{{'contact'+bidProf.bidId}}">
        
              <div class="card-content">
        
                <div class="card-subtitle">CONTACT</div>
        
                <div class="card-contact-wrapper">

                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h5 class="mb-0">Date</h5>
                        </div>
                        <div class="col-sm-9 text-primary">
                          {{bidProf.bidDate | date:'mediumDate'}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h5 class="mb-0">Description</h5>
                        </div>
                        <div *ngIf="bidProf.bidDesc" class="col-sm-9 text-primary">
                            {{bidProf.bidDesc}}
                        </div>
                        <div *ngIf="!(bidProf.bidDesc)" style="color: red!important ;" class="col-sm-9 text-primary">
                          Bid information not yet inputted
                      </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h5 class="mb-0">Amount</h5>
                        </div>
                        <div  *ngIf="bidProf.bidDesc >0"class="col-sm-9 text-primary">
                           {{bidProf.bidAmount}}
                        </div>
                        <div *ngIf="bidProf.bidDesc <=0" style="color: red!important ;" class="col-sm-9 text-primary">
                           Bid amount not yet inputted
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h5 class="mb-0">Response</h5>
                        </div>
                        <div class="col-sm-9 text-primary">
                            {{bidProf.bidResponse}}
                        </div>
                      </div>                                        
                    </div>
                  </div> 
        
                </div>
        
              </div>
        
            </div>
        
            <div class="card-buttons">
        
              <button attr.data-section="{{'about'+bidProf.bidId}}" class="{{'card-btn'+bidProf.bidId}}" id="{{bidProf.bidId}}" (click)="activateCard(bidProf.bidId, $event)" class="is-active">ABOUT</button>
        
              <button attr.data-section="{{'experience'+bidProf.bidId}}" class="{{'card-btn'+bidProf.bidId}}"  id="{{bidProf.bidId+'e'}}" (click)="activateCard(bidProf.bidId, $event)">EXPERIENCE</button>
        
              <button attr.data-section="{{'contact'+bidProf.bidId}}" class="{{'card-btn'+bidProf.bidId}}"  id="{{bidProf.bidId+'c'}}" (click)="activateCard(bidProf.bidId, $event)" >CONTACT</button>
        
            </div>
        
          </div>
        
        </div>

        <div class="d-flex justify-content-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div> 
  </div>

 
</div>