<div class="tab-pane active">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="form-card">
                <div class="row justify-content-center">
                    <div class="text-center" id="test">Manage Users</div>
                </div>
                <div class="mat-elevation-z8">
                  <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Richard" #input>
                  </mat-form-field>
                    <table mat-table [dataSource]="dataSource">          
            
                      
                        <!-- FieldId Column -->
                        <ng-container matColumnDef="appUserId">
                          <th mat-header-cell *matHeaderCellDef> User Id </th>
                          <td mat-cell *matCellDef="let element"> {{element.appUserId}} </td>
                        </ng-container>
                    
                        <!-- Description Column -->
                        <ng-container matColumnDef="userName">
                          <th mat-header-cell *matHeaderCellDef> Username </th>
                          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                        </ng-container>
                    
                        <!-- FieldStatus Column -->
                        <ng-container matColumnDef="appUserRole">
                          <th mat-header-cell *matHeaderCellDef> User Role </th>
                          <td mat-cell *matCellDef="let element"> {{element.appUserRole}} </td>
                        </ng-container>

                        <!-- FieldStatus Column -->
                        <ng-container matColumnDef="accountStatus">
                          <th mat-header-cell *matHeaderCellDef> Status </th>
                          <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
                        </ng-container>

                        <!-- FieldStatus Column -->
                        <ng-container matColumnDef="imagePath">
                          <th mat-header-cell *matHeaderCellDef> Image </th>
                          <td mat-cell *matCellDef="let element"> <img [src]="createImgPath(element.imagePath)" class="rounded mx-auto d-block" style="width:40px;height:40px;" alt={{element.userName}}> </td>
                        </ng-container>
                        
            
                         <!-- Action Column -->
                         <ng-container matColumnDef="Action" >
                            <th mat-header-cell *matHeaderCellDef> Edit </th>
                            <td mat-cell *matCellDef="let element">                 
                              <ng-container >
                                <button mat-icon-button color="accent">
                                  <mat-icon (click)="activateUser(element.appUserId)" ><span class="material-icons">
                                    person_add
                                    </span></mat-icon>
                              </button>
                                
                              </ng-container>                   
                              <ng-container >
                                <button mat-icon-button color="accent">
                                  <mat-icon (click)="deactivateUser(element.appUserId)" ><span class="material-icons">
                                    person_remove
                                    </span></mat-icon>
                              </button>
                                
                              </ng-container>                   
                              
                            </td>
                          </ng-container>
                       
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                </div> 

            </div>
        </div>
    </div>
</div>
