/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 0 0 80px 0;
  }
  
  .section-bg {
    background-color: white;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #e96b56;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0 20px 0;
    background: #f7f7f7;
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px;
  }
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 700;
    color: #545454;
  }
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 14px;
  }
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6e6e6e;
    content: "/";
  }
  


  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }