<section *ngIf="!showJob" id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a routerLink="/">Home</a></li>
        <li>Job</li>
      </ol>
      <h2>Posted Job</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <div hidden  class="container mt-10" >
    <div class="">
        <div class="mat-elevation-z8 table-parent">
            <mat-form-field style="text-align:center; font-size: 150%;" appearance="standard">
                <mat-label >Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
              </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">          

          
            <!-- Name Column -->
            <ng-container matColumnDef="jobTitle">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="desc">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="timeframe">
              <th mat-header-cell *matHeaderCellDef> Timeframe </th>
              <td mat-cell *matCellDef="let element"> {{element.timeframe}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="budget">
              <th mat-header-cell *matHeaderCellDef> Budget </th>
              <td mat-cell *matCellDef="let element"> {{element.budget | currency}} </td>
            </ng-container>

             <!-- Symbol Column -->
             <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Bid </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="(accountService.currentUser$| async).appUserRole =='SME'" >
                    <button  mat-icon-button color="primary">
                      <mat-icon (click)="openDialog(element)">edit </mat-icon>
                  </button> 
                  <button (click)="openDialogJobPosted()" mat-icon-button color="warn">
                      <mat-icon>visibility</mat-icon>
                  </button> 
                  </ng-container>
                  <ng-container *ngIf="(accountService.currentUser$| async).appUserRole =='PROFESSIONAL'" >
                    <button mat-icon-button color="accent">
                      <mat-icon>request_quote</mat-icon>
                  </button>
                    
                  </ng-container>                   
                  
                </td>
              </ng-container>
           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
    </div>              
           
          </div>

    </div>
</div>

<div *ngIf="!showJob" class="container accordion-container">
  <accordion [closeOthers]="oneAtATime" [isAnimated]="true">
    <accordion-group [isOpen]="isOpen"
    heading="Aprroved Job Posted">
    <div *ngIf="itemCount ==0" class="d-flex justify-content-center">
      <h1>Your post/(s) is being reviewed.</h1>
    </div>
    
    <div class="mat-elevation-z8">
      <app-posted-job-cards 
      (itemCount)="getItemCount($event)"
      (sendJobData)="getJobData($event)"
       [params]="'APPROVED'"
      >        
      </app-posted-job-cards>
    </div>

    </accordion-group>

    <accordion-group heading="Pending Job Posted">
      <div *ngIf="itemCount ==0" class="d-flex justify-content-center">
        <h1>Your post/(s) is being reviewed.</h1>
      </div>
      <div class="mat-elevation-z8">
        <app-posted-job-cards [params]="'PENDING'"
        (sendJobData)="getJobData($event)"
        >        
        </app-posted-job-cards>
      </div>

    </accordion-group>
    <accordion-group heading="Declined Job Posted">
      <div *ngIf="itemCount ==0" class="d-flex justify-content-center">
        <h1>Your post/(s) is being reviewed.</h1>
      </div>
      <div class="mat-elevation-z8">
        <app-posted-job-cards [params]="'DECLINED'"
        (sendJobData)="getJobData($event)"
        >        
        </app-posted-job-cards>
      </div>
    </accordion-group>
  </accordion>
</div>


<div *ngIf="showJob" class="row">
<app-dialog-job-posted [jobData] ="jobDataR"
></app-dialog-job-posted>
</div>