<ng-container *ngIf="(accountService.currentUser$| async).appUserRole =='SME'">
    <div class="container" style="margin-top:8%;">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name">Yuki Hayashi</h5>
                        <h6 class="user-email">yuki@Maxwell.com</h6>
                    </div>
                    <div class="about">
                        <h5>About</h5>
                        <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <form [formGroup]="editFormSme" (ngSubmit)="editFormSme.valid && editSme()" >
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="mb-2 text-primary">Personal Details</h4>
                        </div>
                        <div hidden class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">id</label>
                                <app-text-input [formControl]='editFormSme.controls["id"]'
                                [label]="'id'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">First Name</label>
                                <app-text-input [formControl]='editFormSme.controls["representName"]'
                                [label]="'First Name'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Last Name</label>
                                <app-text-input [formControl]='editFormSme.controls["representLName"]'
                                [label]="'Last Name'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <app-text-input [formControl]='editFormSme.controls["email"]'
                                [label]="'Email'" ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <app-text-input [formControl]='editFormSme.controls["representPhone"]'
                                [label]="'Phone number'"  ></app-text-input>
                            </div>
                        </div>
        
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="mt-3 mb-2 text-primary">Company Information</h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Address</label>
                                <app-text-input [formControl]='editFormSme.controls["address"]'
                                [label]="'Address'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">Company Name</label>
                                <app-text-input [formControl]='editFormSme.controls["compName"]'
                                [label]="'Company Name'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">Website / Social Url</label>
                                <app-text-input [formControl]='editFormSme.controls["socialLink"]'
                                [label]="'www.linkedIn.com'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="zIp">Company Description</label>
                                <app-text-area [formControl]='editFormSme.controls["compDescription"]'
                                [label]="'Company Description'"  ></app-text-area>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" routerLink="/" class="btn btn-secondary">Cancel</button>
                                <button type="submit"  class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
        </div>
        </div>
        </div>
</ng-container>

<ng-container *ngIf="(accountService.currentUser$| async).appUserRole =='PROFESSIONAL'" >
    <div class="container" style="margin-top:8%;">
        <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name">Yuki Hayashi</h5>
                        <h6 class="user-email">yuki@Maxwell.com</h6>
                    </div>
                    <div class="about">
                        <h5>About</h5>
                        <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <form [formGroup]="editFormProf" (ngSubmit)="editFormProf.valid  && editProf()" >
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="mb-2 text-primary">Personal Details</h4>
                        </div>
                        <div hidden class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">id</label>
                                <app-text-input [formControl]='editFormProf.controls["id"]'
                                [label]="'id'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">First Name</label>
                                <app-text-input [formControl]='editFormProf.controls["fName"]'
                                [label]="'First Name'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Last Name</label>
                                <app-text-input [formControl]='editFormProf.controls["lName"]'
                                [label]="'Last Name'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <app-text-input [formControl]='editFormProf.controls["email"]'
                                [label]="'Email'" ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <app-text-input [formControl]='editFormProf.controls["phone"]'
                                [label]="'Phone number'"  ></app-text-input>
                            </div>
                        </div>
        
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="mt-3 mb-2 text-primary">Other Information</h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Address</label>
                                <app-text-input [formControl]='editFormProf.controls["address"]'
                                [label]="'Address'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">ID number</label>
                                <app-text-input [formControl]='editFormProf.controls["idNum"]'
                                [label]="'ID number'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">LinkedIn Url</label>
                                <app-text-input [formControl]='editFormProf.controls["linkedInLink"]'
                                [label]="'www.linkedIn.com'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="zIp">Brief Description</label>
                                <app-text-area [formControl]='editFormProf.controls["briefDesc"]'
                                [label]="'Company Description'"  ></app-text-area>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="mt-3 mb-2 text-primary">Qualification</h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Institution</label>
                                <app-text-input [formControl]='editFormProf.controls["educationInstition"]'
                                [label]="'Institution'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">Qualification</label>
                                <app-text-input [formControl]='editFormProf.controls["qual1"]'
                                [label]="'Qualification'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">Other Qualification</label>
                                <app-text-input [formControl]='editFormProf.controls["qual2"]'
                                [label]="'Other Qualification'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="field">Field</label>
                                <select id="field" formControlName="fieldId" 
                                class="form-control browser-default custom-select">
                                <option>--Select--</option>
                                <option *ngFor="let field of fieldList"
                                [value]="field.fieldId">
                                    {{field.description}}
                                    <!-- {{field | json}}                 -->
                            </option>            
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h4 class="mt-3 mb-2 text-primary">Employment Information</h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Employment Status</label>
                                <app-text-input [formControl]='editFormProf.controls["employmentStatus"]'
                                [label]="'Employed/Freelancer/Unemployed'"  ></app-text-input>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">Employment History</label>
                                <app-text-input [formControl]='editFormProf.controls["employmentHistory"]'
                                [label]="'Places where you worked'"  ></app-text-input>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" routerLink="/" class="btn btn-secondary">Cancel</button>
                                <button type="submit"  class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
        </div>
        </div>
        </div>
</ng-container>
 
