table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }


    /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0 20px 0;
    background: #f7f7f7;
    border-bottom: 1px solid #ededed;
    margin-bottom: 40px;
  }
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 700;
    color: #545454;
  }
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 14px;
  }
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6e6e6e;
    content: "/";
  }
  
  .container .intent-overlay{
    width: 120px;   
    color: white;
    padding: 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-size: 12px;
    text-align: center;
    position: relative;
    left: -26px;
    bottom:12px;
  }

  .container .intent-overlay a{
    cursor: pointer;
  }

  .container .intent-overlay::before{
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent #10AA8C #10AA8C transparent;
    left: 0px;
    top: -8px;
  }
  
  