
<div hidden class="HIDDEN">
  <div hidden class="hidden">
    <div class="row" style="margin-bottom:15px; margin-top:32px;">
      <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
        <p *ngIf="fileToUpload">{{file.filename}}</p>
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
      <button type="button" class="btn btn-success" >Get File</button>
      <div class="">
          <img [src]="'https://localhost:5001/'+testData.filePath" alt="">
      </div>
    </div>
  
  
  
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <button type="button" class="btn btn-success" (click)="download()">Download File</button>
      </div>
      <div class="col-md-4">
        <span class="download" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="download">
          {{message}}
        </span>
      </div>
  </div>
  </div>
  
  <mat-toolbar>
  
    Responsive side navigation
    </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened  class="mat-elevation-z8">
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                Main content here!
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<div class="">
  <ngx-extended-pdf-viewer [src]="'assets/Chap1.pdf'" useBrowserLocale="true"></ngx-extended-pdf-viewer>
</div>

