  <!-- ======= Hero Section ======= -->
  
  <section id="hero" class="clearfix">
    <div class="container" *ngIf="!registerMode"  data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="https://localhost:4200/assets/hero-img.svg" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>We provide<br><br><span id="span">solutions</span><br><br>for your business!</h2>
        
        <div>
          <ng-container *ngIf="!(accountService.currentUser$| async)">
            <a class="btn-get-started scrollto" style="cursor:pointer;" (click)="registerToggle()">Get Started</a>
          </ng-container>         
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      
        
      </div>
    </div>    
    <div *ngIf="registerMode"  class="container" style="width:25%;" id="registerContainer"> 
        <!---When sending data from child component use []
        when emitting data ()
        -->       
         <app-register  (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </section><!-- End Hero Section -->


  