<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a routerLink="/">Home</a></li>
      <li>Bid</li>
    </ol>
    <h2>View Bid Sent</h2>

  </div>
</section><!-- End Breadcrumbs -->

<div *ngIf="!showBid" class="container">
  <div class="float-right" style="margin-bottom:-8%;">
    <mat-form-field appearance="standard">
      <mat-label>Bid Status</mat-label>
      <mat-select #bidStatus
      (selectionChange)="onBidStatusFilter($event.value)"
      >
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{status.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>    
  </div>
  <div style="margin-top:8%;">    
    <div class="mat-elevation-z8">
      <mat-form-field style="width:90%;" appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>        
      </mat-form-field>  
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="bidId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.bidId}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="imagePath">
            <th mat-header-cell *matHeaderCellDef>
              <mat-icon>image</mat-icon>
            </th>
            <td mat-cell *matCellDef="let element"> <img [src]="createImgPath(element.imagePath)"
                style="width:50px;height:60px;"> </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="jobTitle">
            <th mat-header-cell *matHeaderCellDef> Job Title </th>
            <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
          </ng-container>
          <!-- Weight Column -->
          <ng-container matColumnDef="jobDescription">
            <th mat-header-cell *matHeaderCellDef> Job Description </th>
            <td mat-cell *matCellDef="let element"> {{element.jobDescription}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef> Budget </th>
            <td mat-cell *matCellDef="let element"> {{element.budget | currency}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon (click)="showBidDetails(element)">visibility</mat-icon>
            </td>

          </ng-container>






          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

    </div>

  </div>
</div>


<div *ngIf="showBid" class="row">
  <div class="col-md-2">
    <div class="card user-card">
      <div class="card-header" style="cursor: pointer;">
        <mat-icon (click)="back()">arrow_back_ios</mat-icon>
      </div>
      <div class="card-block">
        <div class="user-image">
          <img [src]="createImgPath(bidData.imagePath)" class="img-radius" alt="User-Profile-Image">
        </div>
        <h6 class="f-w-600 m-t-25 m-b-10">{{bidData.name}} {{bidData.lName}}</h6>
        <p class="text-muted">{{bidData.compName}} | Phone : {{bidData.phone}}</p>
        <hr>
        <div class="bg-c-blue counter-block m-t-10 p-20">
          <div class="row">
            <p>{{bidData.jobDescription}}</p>
          </div>
        </div>
        <hr>
        <div class="row justify-content-center user-social-link">
          <qr-code [qrdata]="'myAngularxQrCode'" [size]="140"></qr-code>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <tabset>

      <tab heading="SME Description">
        <div class="pdf-viewer">
          <ngx-extended-pdf-viewer [src]="'assets/Chap1.pdf'" useBrowserLocale="true"></ngx-extended-pdf-viewer>
        </div>


      </tab>

      <tab heading="Bid Details">
        <div class="row">
          <div class="col-md-4">
            <div class="container">

              <div *ngIf="!bidData.bidAmount" class="d-flex justify-content-center mt-5">
                <h2>Enter your Bid Details</h2>
              </div>

              <div *ngIf="bidData.bidAmount" class="d-flex justify-content-center mt-5">
                <h2>Your Bid Details</h2>
              </div>

              <ng-container *ngIf="!bidData.bidAmount">
                <form style="color:black !important;" [formGroup]='BidForm' autocomplete="off">
                  <div class="form-group">

                    <mat-form-field appearance="outline">
                      <mat-label>Description</mat-label>
                      <input matInput formControlName="description" placeholder="Describe your intent for the bid">
                      <mat-icon matSuffix>description</mat-icon>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Amount</mat-label>
                      <input matInput formControlName="bidAmount" placeholder="State the amount of your bid">
                      <mat-icon matSuffix>paid</mat-icon>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                      <mat-label>Other Details</mat-label>
                      <input matInput formControlName="otherDetails"
                        placeholder="Any other information you may find appropriate">
                      <mat-icon matSuffix>info</mat-icon>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>

                  </div>

                  <div class="form-group" style="margin: 0; padding-left:15px;">
                    <button mat-raised-button id="submitBid" (click)="bid()" color="primary">Submit</button>
                  </div>
                </form>
              </ng-container>

              <ng-container *ngIf="bidData.bidAmount">

                <div style="font-weight: bold !important; font-size:larger important;" class="card mt-5">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <h5 class="mb-0">Description</h5>
                      </div>
                      <div class="col-sm-9 text-primary">
                        {{bidData.description}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h5 class="mb-0">Amount</h5>
                      </div>
                      <div class="col-sm-9 text-primary">
                        {{bidData.bidAmount}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h5 class="mb-0">Other Details</h5>
                      </div>
                      <div class="col-sm-9 text-primary">
                        {{bidData.otherDetails}}
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>

              </ng-container>



            </div>
          </div>

          <div class="d-flex justify-content-center col-md-8">
            <img src="/assets/bidAnalysis.svg" alt="" class="w-100" />
          </div>

        </div>

      </tab>


      <tab heading="Timeline">

        <div class="container" style="color :black !important;">
          <div class="row">

            <div class="col-md-4 mt-5">

              <div class="d-flex justify-content-center">
                <h2>Timeline Details</h2>
              </div>
              <mat-card>
                <ng-container>
                  <form [formGroup]='timelineForm' autocomplete="off">

                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title" placeholder="Title">
                        <mat-icon matSuffix>Title</mat-icon>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" placeholder="Brief description of">
                        <mat-icon matSuffix>description</mat-icon>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                      <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput formControlName="date" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="form-group" style="margin: 0; padding-left:15px;">
                      <button *ngIf="!timeEdit" mat-raised-button (click)="addTimeline()"
                        color="primary">Submit</button>
                      <button *ngIf="timeEdit" mat-raised-button (click)="updateTimeline()"
                        color="primary">Update</button>

                    </div>
                    <div class="checkbox">
                      <section>
                        <mat-checkbox> I confirm...need to add on no legal obligations</mat-checkbox>
                      </section>

                    </div>

                  </form>
                </ng-container>
              </mat-card>

            </div>


            <div class="col-md-8">
              <div class="">
                <div class="timeline-body">
                  <div id="content" *ngFor="let timeline of timelineData">
                    <ul class="timeline">
                      <li class="event" attr.data-date="{{timeline.date | date :'shortDate'}}">
                        <h3>{{timeline.title}}</h3>
                        <p>{{timeline.description}}.</p>
                        <i class="fa fa-trash" (click)="deleteTimelineById(timeline.timelineId)" id="trashIcon"
                          style="cursor: pointer;"></i>
                        <i style="margin-left:2%;" class="fa fa-pencil" (click)="getTimelineById(timeline.timelineId)"
                          style="cursor: pointer;" aria-hidden="true"></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </tab>


      <tab heading="Meeting">

      </tab>

    </tabset>
  </div>
</div>