
  <h1 mat-dialog-title>Send Bid </h1>
  <div mat-dialog-content>  
      <form [formGroup]='BidForm' autocomplete="off">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Describe your intent for the bid">
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="bidAmount" placeholder="State the amount of your bid">
            <mat-icon matSuffix>paid</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Other Details</mat-label>
            <input matInput formControlName="otherDetails" placeholder="Any other information you may find appropriate">
            <mat-icon matSuffix>info</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group" style="display: flex; justify-content: center;">
          <button mat-raised-button (click)="bid()" color="primary">Submit</button>
          <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        </div>
      </form> 
      
  </div>
  
  
  

