<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img id="navlogo" src="https://localhost:4200/assets/Mauripreneur-logos_white.png" alt=""></a>
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="navbarColor01">
      <ng-container *ngIf="(accountService.currentUser$| async) !=null">
    
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Calendar/ViewCalendar">View Calendar</a>
        </li>
        <ng-container>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle>Job</a>
            <div class="dropdown-menu" *dropdownMenu>
              <ng-container *ngIf="(accountService.currentUser$| async).appUserRole =='SME'" >
                <a class="dropdown-item" routerLink="/Job/PostJob" >Post a Job</a>
                <a class="dropdown-item" routerLink="/Job/JobPosted">View Job Posted</a>              
                <div class="dropdown-divider"></div>
              </ng-container>              
              <a class="dropdown-item" routerLink="/Job/AllJob">View All Job Posted</a>
            </div>
          </li>
        </ng-container>
        <ng-container>
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle>Bid</a>
            <div class="dropdown-menu" *dropdownMenu>
              <ng-container *ngIf="(accountService.currentUser$| async).appUserRole =='SME'" >
                <a class="dropdown-item" routerLink="/Bid/ViewBid" >View Bid</a>
                <a class="dropdown-item" routerLink="/Bid/BidApproved">View Bid Approved</a>              
               
              </ng-container > 
              <ng-container *ngIf="(accountService.currentUser$ | async).appUserRole == 'PROFESSIONAL'"
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/Bid/BidSent">View Bid Sent</a>
            </ng-container>             
              
            </div>
          </li>
        </ng-container>        
      </ul>      
    </ng-container>

    <ng-container  *ngIf="(accountService.currentUser$| async) as user">

      <div class="d-flex fixed-right dropdown" dropdown style="margin:1em 2em;">
      
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username}}</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" routerLink="/User/UserProfile">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>     
      
    </div>

    </ng-container>
   
     
      <div class="d-flex fixed-right" *ngIf="(accountService.currentUser$ | async) === null">     
        <button class="btn btn-success my-2 my-sm-0" id="btn" (click)="open(content)">Login</button>        
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <img src="https://localhost:4200/assets/mauri_bleu.png" style="height:35%;width:35%;" alt="">
    </div>
    <div class="modal-body">

      <div class="container1">
        <div class="screen">
          <div class="screen__content">
            <form #loginForm="ngForm" class="login" (ngSubmit)="login()" autocomplete="off">
              <div class="login__field">                
                <i class="login__icon fas fa-user"></i>
                <input 
                name="username"
                [(ngModel)]="model.username"
                type="text" 
                class="login__input" 
                placeholder="User name / Email">
              </div>
              <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input 
                name="password"
                [(ngModel)]="model.password"
                type="password" 
                class="login__input" 
                placeholder="Password">
              </div>
              <!-----(DONE)LIRE LOR how to dismiss Modal on Submit -->
              <button class="button login__submit" type="submit" data-dismiss="modal">
                <span class="button__text">Log In Now</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>				
            </form>
            <div class="social-login">
              <h3>log in via</h3>
              <div class="social-icons">
               <a href=""class="social-login__icon" ><fa-icon [icon]="faFacebookF"></fa-icon></a> 
                <a href="#" class="social-login__icon"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
                <a href="#" class="social-login__icon"><fa-icon [icon]="faTwitter"></fa-icon></a>
              </div>
            </div>
          </div>
          <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
          </div>		
        </div>
      </div>

    </div>
   
  </ng-template>  
</nav>