<div class="container-fluid px-0" id="bg-div">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-12">
            <div class="card card0">
                <div class="d-flex" id="wrapper">
                    <!-- Sidebar -->
                    <div  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed"   class="bg-light border-right" id="sidebar-wrapper">
                        <div class="sidebar-heading pt-5 pb-4"><strong>ADMIN DASHBOARD</strong></div>
                        <div class="list-group list-group-flush"> <a data-toggle="tab" href="#menu1" id="tab1" class="tabs list-group-item bg-light">
                        </a> <a  (click)="editFieldsRoute()" id="tab2" class="tabs list-group-item active1">
                                <div class="list-div my-2">
                                    <div class="fa fa-tags"></div> &nbsp;&nbsp; Manage Fields
                                </div>
                            </a> <a  (click)="manageUserRoute()" id="tab2" class="tabs list-group-item bg-light ">
                                <div class="list-div my-2">
                                    <div class="fa fa-users"></div> &nbsp;&nbsp; Manage Users
                                </div>
                            </a> <a (click)="manageJobsRoute()" id="tab3" class="tabs list-group-item bg-light">
                                <div class="list-div my-2">
                                    <div class="fa fa-object-group"></div> &nbsp;&nbsp;&nbsp; Manage Jobs
                                </div>
                            </a> </div>
                    </div> <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <!-- Page Content Header -->
                        <div class="row pt-3" id="border-btm">
                            <div class="col-4"> <button class="btn btn-success mt-4 ml-3 mb-3" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" id="menu-toggle">
                                    <div class="bar4"></div>
                                    <div class="bar4"></div>
                                    <div class="bar4"></div>
                                </button> </div>
                            <div class="col-8">
                                <div class="row justify-content-right">
                                    <div class="col-12">
                                        <p class="mb-0 mr-4 mt-4 text-right">mauripreneur.contact@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row justify-content-right">
                                    <div class="col-12">
                                        <p class="mb-0 mr-4 text-right">Logged as <span class="top-highlight">ADMIN</span> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---x Page Content Header x--->                      
                        <div class="tab-content">

                            <router-outlet></router-outlet>
               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>