<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && registerSme()" autocomplete="off">
        <h2 id="logoContain"><img id="formLogo" src="https://localhost:4200/assets/mauri_bleu.png" alt=""></h2>
        <h2 class="text-center">Join Our Network</h2>
    <div class="row jumbotron">
 
        <div class="col-sm-6 form-group">
            <label for="name-f">First Name</label>
            <app-text-input [formControl]='registerForm.controls["representName"]'
            [label]='"First Name"' ></app-text-input>
        </div>
       
        <div class="col-sm-6 form-group">
            <label for="name-f">last Name</label>
            <app-text-input [formControl]='registerForm.controls["representLName"]'
            [label]='"Last Name"' ></app-text-input>
        </div>

        <div class="col-sm-6 form-group">
            <label for="name-f">Email Address</label>
            <app-text-input [formControl]='registerForm.controls["email"]'
            [label]='"Email"' ></app-text-input>
        </div>

        <div class="col-sm-6 form-group">
            <label for="name-f">Address</label>
            <app-text-input [formControl]='registerForm.controls["address"]'
            [label]='"Address"' ></app-text-input>
        </div>

        <div class="col-sm-6 form-group">
            <label for="name-f">Company Name</label>
            <app-text-input [formControl]='registerForm.controls["compName"]'
            [label]='"Company Name"' ></app-text-input>
        </div>

        <div class="col-sm-6 form-group">
            <label for="name-f">Username</label>
            <app-text-input [formControl]='registerForm.controls["username"]'
            [label]='""' readonly ></app-text-input>
        </div>

        <div class="col-sm-6 form-group">
            <label for="name-f">Phone</label>
            <app-text-input [formControl]='registerForm.controls["representPhone"]'
            [label]='"Phonenumber"' readonly ></app-text-input>
        </div>
      
        <div class="col-sm-12">
            <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
            </label>
        </div>
  
        <div class="col-sm-6 form-group" style="display: flex;
        justify-content: center; margin-top: 4%;">
           <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col-sm-6 form-group" style="display: flex;
        justify-content: center; margin-top: 4%">
          <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
       </div>
        
    </div>
    </form>
  </div>