
  <h1 mat-dialog-title>Edit Job</h1>
  <div mat-dialog-content>  
      <form [formGroup]='BidForm'>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="description">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="bidAmount" placeholder="Amount">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Other Details</mat-label>
            <input matInput formControlName="otherDetails" placeholder="Other Details">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group" style="display: flex; justify-content: center;">
          <button mat-raised-button (click)="bid()" color="primary">Submit</button>
          <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        </div>
      </form> 
      
  </div>
  
  
  

