 <!-- ======= Breadcrumbs ======= -->
 <section id="breadcrumbs" class="breadcrumbs" style="margin-top:5%">
  <div class="container">

    <ol>
      <li><a href="index.html">Home</a></li>
      <li>Job</li>
    </ol>
    <h2>Post Job</h2>

  </div>
</section><!-- End Breadcrumbs -->

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-8 entries">
      
      <article class="entry">
          <h2 class="entry-title"> How to Post a Job</h2>
          <div class="entry-content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
              <p>
                  {{test | json}}
              </p>
              <div class="read-more">
                  <button mat-raised-button color="primary" (click)="isLinear = !isLinear" id="toggle-linear">
                      {{!isLinear ? 'Read & Understood' : 'Please Read'}}
              </button>
      
              </div>
            </div>
       
      </article>

      <article class="entry">
          
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="JobTitle">
            <form [formGroup]="JobTitle">
              <ng-template matStepLabel>Job Title</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Last name, First name" formControlName="jobTitle" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext (click)="populateModel()">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="Description">
            <form [formGroup]="Description">
              <ng-template matStepLabel>Job Description</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Ex. Require Digital Marketing Advice"
                       required></textarea>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext (click)="populateModel()">Next</button>
              </div>
            </form>
          </mat-step>
           <mat-step [stepControl]="Requirements">
            <form [formGroup]="Requirements">
              <ng-template matStepLabel>Job Requirements</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Requirements</mat-label>
                <textarea matInput formControlName="requirements" placeholder="Ex. Need to have a Bachelor Degree in Digital Marketing"
                       required></textarea>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="Field">
              <form [formGroup]="Field">
                <ng-template matStepLabel>Job Field</ng-template>
                <mat-form-field appearance="fill">
                  <mat-label>Field</mat-label>
                  <mat-select formControlName="fieldId">
                      <mat-option *ngFor="let field of fieldList" [value]="field.fieldId" >
                          {{field.description}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="populateModel()" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="TimeFrame">
              <form [formGroup]="TimeFrame">
                <ng-template matStepLabel>Time Frame</ng-template>
                <mat-form-field appearance="fill">
                  <mat-label>Time Frame</mat-label>
                  <mat-select formControlName="timeframe">
                      <mat-option *ngFor="let timeframe of timeframes" [value]="timeframe.value" >
                          {{timeframe.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="populateModel()" matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="Budget">
              <form [formGroup]="Budget">
                <ng-template matStepLabel>Budget</ng-template>
                <mat-form-field appearance="fill">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="budget" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext (click)="populateModel()">Next</button>
                </div>
              </form>
            </mat-step>              
            <mat-step>
              <form >
                <ng-template matStepLabel>Upload</ng-template>                 
                  
                  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple accept=".png, .jpg, .jpeg">
                  <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>                  
                <div>
                  <button mat-button matStepperNext >Next</button>
                </div>
              </form>
            </mat-step>              
           
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              <button mat-button (click)="addJob()" >Submit</button>
            </div>
          </mat-step>
        </mat-stepper>

      </article>


      



      

          
        

      </div><!-- End blog entries list -->

      <div class="col-lg-4">

        <div class="sidebar">

         

          <h3 class="sidebar-title">Categories</h3>
          <div class="sidebar-item categories">
            <ul>
              <li><a href="#">General <span>(25)</span></a></li>
              <li><a href="#">Lifestyle <span>(12)</span></a></li>
              <li><a href="#">Travel <span>(5)</span></a></li>
              <li><a href="#">Design <span>(22)</span></a></li>
              <li><a href="#">Creative <span>(8)</span></a></li>
              <li><a href="#">Educaion <span>(14)</span></a></li>
            </ul>
          </div><!-- End sidebar categories-->

          <h3 class="sidebar-title">Recent Professional</h3>
          <div class="sidebar-item recent-posts">

            <div class="post-item clearfix" *ngFor="let prof of last4prof">
              <img [src]="createImgPath(prof.imagePath)" alt="{{prof.fName}}">
              <h4><a href="blog-single.html">{{prof.fName}}  {{prof.lName}}</a></h4>
              <span>{{prof.field.description}}
                <br>
               <i style="cursor: pointer;" routerLink="/Members/ViewMembers">View more</i>
              </span>
            </div>



          </div><!-- End sidebar recent posts-->

          <h3 class="sidebar-title">Tags</h3>
          <div class="sidebar-item tags">
            <ul>
              <li><a href="#">App</a></li>
              <li><a href="#">IT</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Mac</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Office</a></li>
              <li><a href="#">Creative</a></li>
              <li><a href="#">Studio</a></li>
              <li><a href="#">Smart</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div><!-- End sidebar tags-->

        </div><!-- End sidebar -->

      </div><!-- End blog sidebar -->

    </div>

  </div>
</section><!-- End Blog Section -->