<div id="logoHead" class="container">
    <img id="formLogo" src="https://localhost:4200/assets/mauri_bleu.png" alt="">
</div>
<div id ="circleContainer" class="container">
    <div class="row">
      <!-- card1 -->
       <div class="card card-circle">
          <div class="card-icon">
             <i class="fas fa-apple-alt"></i>
          </div>
          <div class="card-body">
             <h5 class="card-title">Professional</h5>
             <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia vel voluptatum quibusdam dignissimos in repellendus!</p>
             <a routerLink='/Registration/Professional' class="btn btn-primary">Register</a>
          </div>
       </div>
       <!-- card2 -->
       <div class="card card-circle">
          <div class="card-icon">
             <i class="fas fa-cookie"></i>
          </div>
          <div class="card-body">
             <h5 class="card-title">SME</h5>
             <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est autem nihil eum magni nulla? Autem.</p>
             <a routerLink='/Registration/Sme' class="btn btn-primary">Register</a>
          </div>
       </div>
       <!-- card3 -->
       <div class="card card-circle ">
          <div class="card-icon">
             <i class="fas fa-carrot"></i>
          </div>
          <div class="card-body">
             <h5 class="card-title">Student</h5>
             <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam eius magnam velit, obcaecati at molestiae.</p>
             <a routerLink='/Registration/Student' class="btn btn-primary">Register</a>
          </div>
       </div>
    </div>
 </div>