/* Sections Header
--------------------------------*/
.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
  }
  .section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
  }
  @media (max-width: 767px) {
    .section-header p {
      width: 100%;
    }
  }
/* Pricing Section
--------------------------------*/

#pricing {
    padding: 80px 0;
    background-color: #F5F8FD;
  }
  @media (max-width: 991px) {
    #pricing {
      padding-bottom: 30px;
    }
  }
  #pricing .card {
    border: 0;
    border-radius: 0px;
    box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
    transition: all 0.3s ease-in-out;
    padding: 36px 0;
    position: relative;
  }
  @media (max-width: 991px) {
    #pricing .card {
      margin-bottom: 50px;
    }
  }
  #pricing .card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #1bb1dc;
    transition: 0.5s;
  }
  #pricing .card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  }
  #pricing .card:hover:after {
    width: 100%;
  }
  #pricing .card .card-header {
    background-color: white;
    border-bottom: 0px;
    -moz-text-align-last: center;
    text-align-last: center;
  }
  #pricing .card .card-title {
    margin-bottom: 16px;
    color: #535074;
  }
  #pricing .card .card-block {
    padding-top: 0;
    text-align: center;
  }
  #pricing .card .list-group-item {
    border: 0px;
    padding: 6px;
    color: #413e66;
    font-weight: 300;
  }
  #pricing .card h3 {
    font-size: 64px;
    margin-bottom: 0px;
    color: #535074;
  }
  #pricing .card h3 .currency {
    font-size: 30px;
    position: relative;
    font-weight: 400;
    top: -30px;
    letter-spacing: 0px;
  }
  #pricing .card h3 .period {
    font-size: 16px;
    color: #6c67a3;
    letter-spacing: 0px;
  }
  #pricing .card .list-group {
    margin-bottom: 15px;
  }
  #pricing .card .btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #5f5b96;
    border-radius: 0;
    padding: 10px 24px;
    letter-spacing: 1px;
    border-radius: 3px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
  }
  #pricing .card .btn:hover {
    background: #0a98c0;
  }